{% extends 'base.html.twig' %}

{% block title 'Agence renouveau' %}

{% block body %}
    <div class="jumbotron text-center">
        <h1>Agence renouveau</h1>
        <p>Bienvenue dans la nouvelle agence renouveau qui vont vous trouvez des biens qui risque de vous coupez le soufle et changé votre avenir</p>
    </div>

    <div class="container">
        <h2>Les dernier biens</h2>
        <div class="row flex">
        {% for property in properties %}
            <div class="col-3">
                <div class="card">
                    <div class="card-body">
                        <h5 class="card-title">
                            <a href="{{ path('property.show', {id: property.id, slug: property.slug}) }}">{{ property.title }}</a>
                        </h5>
                        <p class="card-text">{{ property.city }} ({{ property.PostalCode }})</p>
                        <div class ="text-primary" style="font-weight: bold;font-size: 2rem">{{ property.formattedPrice }} €</div>
                    </div>
                </div>
            </div>
        {% endfor %}
        </div>
    </div>
    
{% endblock %}